* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.landing-container {
  width: 100%;
  height: 600px;
  margin: 0 0;
  position: relative;;
}


html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rowdies', cursive;
  font-family: 'Unbounded', cursive;
}