{% extends 'base.html' %}
{% block title %}All Properties{% endblock %}


{% block body %}
  <h2>Navigation</h2>
  <ul>
    <li><a href="/properties">View all properties</a></li>
    <li><a href="/users">View all users</a></li>
  </ul>
  <div class="search-container ">
    <form id="search_form" method="GET" action="/properties/search/api">
      <input type="text" name="zipcode" class="search-bar" placeholder="Search by zipcode">
      <button type="submit" class="search-button">Search</button>
      
    </form>
  </div>
  <div id="root" class="grid grid-cols-2" >
    <div id="map" class="h-screen"></div>
    {% if not search %}
    <div id="all_properties_section" class=" relative"> </div>
    {% endif %}
    {% if search %}
    <div id="searched_properties_section"></div>
    {% endif %}
    
  </div>
      
  <script type="text/jsx" src="/static/js/property_card.jsx"></script>
  <script type="text/jsx" src="/static/js/properties.jsx"></script>
  <script type="text/jsx" src="/static/js/searched_properties.jsx"></script>
  <script src="/static/js/map.js"></script>
  <script
    async
    src="https://maps.googleapis.com/maps/api/js?key={{ MAP_API_KEY }}&callback=initMap">
  </script>

{% endblock %}
