{% extends 'base.html' %}

{% block title %}{{ property.address }} - Details{% endblock %}

{% block body %}
<div class="grid grid-cols-2 justify-items-center mt-4">
    <div class="images gap-2">
        <div class="d-flex justify-content-center mx-4">
            <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-indicators">
                {% for image in property.images %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            
                {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in property.images %}
                    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                        <img src="{{ image.url }}" class="d-block w-100" alt="...">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="details">
        {% if session.get("user_id") %}
        <div class="is-login" data-if-login="True"></div>
        {% else %}
        <div class="is-login" data-if-login="False"></div>
        {% endif %}

        {% if not is_favorite %}
        <div class=" top-2.5 right-2.5 text-3xl">
            <form id="favorite-form"  action="/properties/{{ property.zpid }}/favorite"  method="POST">
              <button type="submit" class="border border-black rounded-md">Add to watchlist</button>
            </form>
        </div>
        {% endif %}
        <div class="my-2">
            <span class="text-4xl font-semibold">${{ property.price }}</span>
            <span>
                <strong>{{ property.bedrooms }}</strong> bds |
                <strong>{{ property.bathrooms }}</strong> ba |
                <strong>{{ property.lot_area_value }}</strong> {{ property.lot_area_unit }}
            </span>
            <p class="text-2xl">{{ property.address }}</p>
        </div>
        <div class="my-2">
            <p>{{ property.property_type }}</p>
            <p>Price: ${{ property.price }}</p>
            <p>Bathrooms: {{ property.bathrooms }}</p>
            <p>Bedrooms: {{ property.bedrooms }}</p>
            <p>Lot Area: {{ property.lot_area_value }} {{ property.lot_area_unit }}</p>    
        </div>
        
        <div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Request a tour
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div id="schedule-button" >
                            <form action="/properties/{{ property.zpid }}/book" method="POST">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Select Datetime</label>
                                    <input class="form-control" id="exampleFormControlInput1" type="datetime-local" name="datetime" placeholder="Select Datetime" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Phone number</label>
                                    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" value="{{ session.get('user_email', '') }}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const loginStatus = document.querySelector(".is-login");
    const favForm = document.querySelector("#favorite-form");
    const accordionButton = document.querySelector(".accordion-button");

    const flag = loginStatus.dataset.ifLogin === "True"; // flag is true

    favForm.addEventListener("click", function(event) {
        event.preventDefault(); // prevent submit when unlogin user click on that 
        if (!flag) {
            alert("Please login to favorite properties");
        } else {
            favForm.submit();
        }
    });

</script>

<script>
    config = {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    altInput: true,
    minDate: "today",
    maxDate: new Date().fp_incr(60), // 14 days from now
    "disable": [
        function(date) {
            return (date.getDay() === 0); // return true to disable
        }
    ],
    "locale": {
        "firstDayOfWeek": 1 // start week on Monday
    },
    minTime: "09:00",
    maxTime: "18:00",

    }

    flatpickr("input[type=datetime-local]", config);
</script>

{% endblock %}