{% extends 'base.html' %}

{% block title %}{{ property.address }} - Details{% endblock %}

{% block body %}


<div class="grid grid-cols-2 justify-items-center">
    <div class="images-maps grid grid-rows-2 gap-2 mx-3 mt-3">
        <div class="d-flex justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                {% for image in property.images %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in property.images %}
                    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
                        <img src="{{ image.url }}" class="d-block w-100" alt="...">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div id="location-data" data-latitude="{{ property.latitude }}" data-longitude="{{ property.longitude }}" style="display: none;"></div>
    
        <div id="googlemap" class="w-full h-96 z-10 m-0 p-0 flex ">
            <div id="streetmap" class="w-full h-full"  ></div>
            <div id="pano" class="w-full h-full"></div>
        </div>

    </div>

    <div class="details w-fit mt-4 mx-4 pd-4">
        {% if session.get("user_id") %}
        <div class="is-login" data-if-login="True"></div>
        {% else %}
        <div class="is-login" data-if-login="False"></div>
        {% endif %}

        {% if not is_favorite %}
        <div class=" top-2.5 right-2.5 text-3xl">
            <form id="favorite-form"  action="/properties/{{ property.zpid }}/favorite"  method="POST">
              <button type="submit" class="border border-black rounded-md">Add to watchlist</button>
            </form>
        </div>
        {% endif %}
        <div class="my-2">
            <span class="text-4xl font-semibold">${{ property.price }}</span>
            <span>
                <strong>{{ property.bedrooms }}</strong> bds |
                <strong>{{ property.bathrooms }}</strong> ba |
                <strong>{{ property.lot_area_value }}</strong> {{ property.lot_area_unit }}
            </span>
            <p class="text-2xl">{{ property.address }}</p>
        </div>
        <div class="my-2">
            <p>{{ property.property_type }}</p>
            <p>Price: ${{ property.price }}</p>
            <p>Bathrooms: {{ property.bathrooms }}</p>
            <p>Bedrooms: {{ property.bedrooms }}</p>
            <p>Lot Area: {{ property.lot_area_value }} {{ property.lot_area_unit }}</p>    
        </div>

        <div>
            {% if session.get("user_id") %}
            <div id="request-tour-btn">
                <!-- Button trigger schedule form modal -->
                <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Request a tour
                </button>
            </div>
            {% endif %}
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Request a tour</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/properties/{{ property.zpid }}/schedule/create" method="POST">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Select Datetime</label>
                                <input class="form-control" id="exampleFormControlInput1" type="datetime-local" name="datetime" placeholder="Select Datetime" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput2" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput3" class="form-label">Phone number</label>
                                <input type="tel" class="form-control" id="exampleFormControlInput3" placeholder="" required>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="exampleFormControlInput4" value="{{ session.get('user_email', '') }}">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="d-flex justify-content-end mb-3 ">
                                <button type="submit" class="btn btn-primary mb-3">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    const loginStatus = document.querySelector(".is-login");
    const favForm = document.querySelector("#favorite-form");
    const accordionButton = document.querySelector(".accordion-button");
    const flag = loginStatus.dataset.ifLogin === "True"; // flag is true

    favForm.addEventListener("click", function(event) {
        event.preventDefault(); // prevent submit when unlogin user click on that 
        if (!flag) {
            alert("Please login to favorite properties");
        } else {
            favForm.submit();
        }
    });

</script>

<script>
    config = {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    altInput: true,
    minDate: "today",
    maxDate: new Date().fp_incr(60), // 60 days from now
    "disable": [
        function(date) {
            return (date.getDay() === 0); // return true to disable
        }
    ],
    "locale": {
        "firstDayOfWeek": 1 // start week on Monday
    },
    minTime: "09:00",
    maxTime: "18:00",
    }
  
    flatpickr("input[type=datetime-local]", config);
</script>

<script src="/static/js/street_view.js"></script>

<script async src="https://maps.googleapis.com/maps/api/js?key={{ MAP_API_KEY }}&callback=initialize"></script>


{% endblock %}