{% extends 'base.html' %}

{% block title %}{{ user.email }} - Favorites{% endblock %}

{% block body %}
<div class="mx-40 mt-2">
    <div class="flex justify-between my-3">
        <div>
            <p class="text-4xl">Favorite Properties</p>
        </div>

        <div class="dropdown">
            <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #7fa100;">Sort by Price</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/properties/favorites/sort/low">low to high</a></li>
              <li><a class="dropdown-item" href="/properties/favorites/sort/high">high to low</a></li>
            </ul>
        </div>
    </div>

    
    <p class="text-xl mb-3">{{ favorites|length }} favorite properties</p>


    <div class='cards grid grid-cols-3 gap-3 justify-items-center'>
        {% for favorite in user.favorites %}
            <div class="card">
                <div class="absolute top-2.5 right-2.5 text-3xl">
                    <form id="unfavorite-form"  action="/properties/{{ favorite.property.zpid }}/unfavorite"  method="POST">
                      <button type="submit" id="unfavorite-button ">
                        <i id="unfavorite-icon" class="fa-solid fa-heart"></i>
                      </button>
                    </form>
                </div>
                <div class="card_image">
                <a href="/properties/{{ favorite.property.zpid }}">
                    <img src="{{ favorite.property.img_src }}">
                </a>
                </div>
                <div class='card_info my-2 mx-2'>
                <p class="text-xl font-semibold">${{ "{:,}".format(favorite.property.price) }}</p>
                <p>
                    <strong>{{ favorite.property.bedrooms }}</strong> bds |
                    <strong>{{ favorite.property.bathrooms }}</strong> ba |
                    <strong>{{ favorite.property.lot_area_value }}</strong> {{ favorite.property.lot_area_unit}}
                </p>
                <p>{{ favorite.property.address }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}