{% extends 'base.html' %}

{% block title %}{{ user.email }} - Schedules{% endblock %}

{% block body %}
<h1>{{ user.email }}</h1>

<h3>My Schedules</h3>

<div class="my-4">
    <p>Current Schedules</p>
    {% if current_schedules %}
        <ul class="list-disc">
            {% for schedule in current_schedules %}
                {% if schedule.is_active %}
                    <li>
                        <span>{{ schedule.when }} at {{ schedule.property.address }}</span>
                        <form action="/cancel"  method="POST">
                            <button type="hidden" type="submit" class="border border-black rounded-md" name="schedule_id" value={{ schedule.schedule_id }}>Cancel</button>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No current schedules to display.</p>
    {% endif %}
</div>

<div class="my-4">
    <p>Future Schedules</p>
    {% if future_schedules %}
        <ul class="list-disc">
            {% for schedule in future_schedules %}
                {% if schedule.is_active %}
                    <li>
                        <span>{{ schedule.when }} at {{ schedule.property.address }}</span>
                        <form action="/cancel"  method="POST">
                            <button type="hidden" type="submit" class="border border-black rounded-md" name="schedule_id" value={{ schedule.schedule_id }}>Cancel</button>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No future schedules to display.</p>
    {% endif %}
</div>

<div class="my-4">
    <p>Past Schedules</p>
    {% if past_schedules %}
        <ul class="list-disc">
            {% for schedule in past_schedules %}
                {% if schedule.is_active %}
                    <li>
                        <span>{{ schedule.when }} at {{ schedule.property.address }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No past schedules to display.</p>
    {% endif %}
</div>

<div class="my-4">
    <p>Canceled Schedules</p>
    {% if canceled_schedules %}
        <ul class="list-disc">
            {% for schedule in canceled_schedules %}
                <li>
                    <span>{{ schedule.when }} at {{ schedule.property.address }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No canceled schedules to display.</p>
    {% endif %}
</div>

<!-- <script>
    function displayCalender() {
        rescheduleButtons = document.querySelectorAll('.reschedule');

        for (const button of rescheduleButtons) {
            const formHTML = `
                <form action="/properties/{schedule.property.zpid}/book"  method="POST">
                    <input id="update-schedule" className="block w-full h-10 border border-black rounded-md" type="datetime-local" name="datetime" placeholder="Select Datetime">
                    <button type="submit">Request this time</button>
                </form>
            `;
            document.querySelector('#reschedule-form-container').innerHTML = formHTML;
        }
    }
</script>

<script>
    config = {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    altInput: true,
    minDate: "today",
    maxDate: new Date().fp_incr(60), // 14 days from now
    "disable": [
        function(date) {
            return (date.getDay() === 0); // return true to disable
        }
    ],
    "locale": {
        "firstDayOfWeek": 1 // start week on Monday
    },
    minTime: "09:00",
    maxTime: "18:00",
    }

    flatpickr("#update-schedule", config); 
</script> -->
{% endblock %}