{% extends 'base.html' %}

{% block title %}{{ user.email }} - Schedules{% endblock %}

{% block body %}

<div class="content d-flex justify-content-center">
    <div class="accordion w-50 mt-3" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <p class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button text-xl" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #f5f5f5;">
              Upcoming Schedules
            </button>
          </p>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show flex justify-center" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body ">
                {% if upcoming_schedules %}
                    {% for schedule in upcoming_schedules %}
                        {% if schedule.is_active %}
                            {% include '_upcoming_schedules.html' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
          </div>
        </div>
    
        <div class="accordion-item">
            <p class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed text-xl" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="background-color: #f5f5f5;">
                    Past Schedules
                </button>
            </p>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse flex justify-center" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    {% if past_schedules %}
                        {% for schedule in past_schedules %}
                            {% if schedule.is_active %}
                                {% include '_past_canceled_schedules.html' %}
                            {% endif %} 
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    
        <div class="accordion-item">
            <p class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed text-xl" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour" style="background-color: #f5f5f5;">
                    Canceled Schedules
                </button>
            </p>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse flex justify-center" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    {% if canceled_schedules %}
                        {% for schedule in canceled_schedules %}
                            {% include '_past_canceled_schedules.html' %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>


  
{% endblock %}