{% extends 'base.html' %}

{% block title %}{{ user.email }} - Details{% endblock %}

{% block body %}
<h1>{{ user.email }}</h1>

<h3>Favorite Properties</h3>

<ul>
    {% for favorite in user.favorites %}
        <li><a href="/properties/{{ favorite.property.zpid }}">{{ favorite.property.address }}</a></li>
    {% endfor %}
</ul>

<h3>My Schedules</h3>

<ul>
    {% for schedule in user.schedules %}
        <li>{{ schedule.when }} at {{ schedule.property.address }}</li>
    {% endfor %}
</ul>
 
{% endblock %}
